# These owners will be the default owners for everything in the repo
* @UnQOfficial

# Shell scripts
*.sh @UnQOfficial

# Documentation
*.md @UnQOfficial
LICENSE @UnQOfficial
SECURITY.md @UnQOfficial
CONTRIBUTING.md @UnQOfficial

# GitHub specific files
.github/* @UnQOfficial 
